<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="wpa81" userInstalled="true" />
  <package id="CustomAppBar" version="1.1.2" targetFramework="wpa81" userInstalled="true" />
  <package id="Inflatable.Lastfm" version="0.2.0.211" targetFramework="wpa81" userInstalled="true" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="wpa81" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wpa81" userInstalled="true" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="wpa81" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.7" targetFramework="wpa81" userInstalled="true" />
  <package id="SQLitePCL.raw_basic" version="0.7.0" targetFramework="wpa81" userInstalled="true" />
</packages>