#ignore thumbnails created by windows
Thumbs.db

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.ipch
*.bak
*.cache
*.ilk
*.log
*.sdf
*.opensdf
*.ncrunchsolution
*.ncrunchproject
*.pfx
AppPackages/
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.orig
*.vspx
*.psess
app/packages
app/VLC_WINRT.sln.DotSettings
*dll
app/ui/plugins/access/libaccess_winrt_plugin.dll
app/ui/plugins/video_output/libdirect2d_winrt_plugin.dll
app/ui/plugins/audio_output/libxaudio2_winrt_plugin.dll

# VLC files
vlc/plugins/
vlc/plugins/plugins.dat

#Store association
app/ui/Package.StoreAssociation.xml
