<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.0.0-alpha2" targetFramework="win81" userInstalled="true" />
  <package id="Inflatable.Lastfm" version="0.2.0.211" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights" version="0.14.3-build00177" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights.PersistenceChannel" version="0.14.3-build00177" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.ApplicationInsights.WindowsApps" version="0.14.3-build00177" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.16-beta" targetFramework="win81" userInstalled="true" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="win81" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="win81" userInstalled="true" />
  <package id="SQLite.Net-PCL" version="3.0.5" targetFramework="win81" userInstalled="true" />
  <package id="System.Numerics.Vectors" version="4.0.0" targetFramework="win81" userInstalled="true" />
</packages>