<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="db019233-4240-4c8f-8ce4-9ddeb98d504f" Publisher="CN=Kellen" Version="1.0.0.0" />
  <Properties>
    <DisplayName>VLC_WINRT_APP.Windows</DisplayName>
    <PublisherDisplayName>Kellen</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VLC_WINRT_APP.Windows.App">
      <m2:VisualElements DisplayName="VLC_WINRT_APP.Windows" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="VLC_WINRT_APP.Windows" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:ApplicationView MinWidth="width320" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation" EntryPoint="VLC_WINRT_APP.Windows.App">
          <FileTypeAssociation Name="vlc" m2:DesiredView="useHalf">
            <DisplayName>VLC Media Player</DisplayName>
            <EditFlags AlwaysUnsafe="true" />
            <SupportedFileTypes>
              <FileType>.mp4</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="videosLibrary" />
    <Capability Name="musicLibrary" />
    <Capability Name="removableStorage" />
  </Capabilities>
</Package>