<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="9519ba58-7ad6-4c4e-97ed-bfc2135a0d19" Publisher="CN=VideoLAN" Version="0.0.2.0" />
  <Properties>
    <DisplayName>VLC for WinRT</DisplayName>
    <PublisherDisplayName>VideoLAN</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VLC_WINRT.App">
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="vlcmedia">
            <DisplayName>VLC for WinRT</DisplayName>
            <Logo>Assets\Logo.png</Logo>
            <InfoTip>Play with VLC</InfoTip>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType ContentType="video/x-matroska">.mkv</FileType>
              <FileType ContentType="video/x-msvideo">.avi</FileType>
              <FileType ContentType="video/mp4">.mp4</FileType>
              <FileType ContentType="audio/x-ms-wmv">.wmv</FileType>
              <FileType ContentType="application/ogg">.ogg</FileType>
              <FileType ContentType="audio/mpeg">.mp3</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
      <VisualElements DisplayName="VLC for WinRT" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="VLC_WINRT" ForegroundText="light" BackgroundColor="#e67e22">
        <DefaultTile ShowName="logoOnly" ShortName="VLC for WinRT" WideLogo="Assets\Wide310x150Logo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#e67e22" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="removableStorage" />
    <Capability Name="videosLibrary" />
    <Capability Name="musicLibrary" />
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
    <Capability Name="picturesLibrary" />
  </Capabilities>
</Package>