<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="wpa81" />
  <package id="Inflatable.Lastfm" version="0.2.2.252" targetFramework="wpa81" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="wpa81" />
  <package id="sqlite-net" version="1.0.8" targetFramework="wpa81" />
  <package id="Win2D.win81" version="1.11.0" targetFramework="wpa81" />
</packages>